.advantages {
  margin-top: 32px;
}

.advantages__content {
  background-color: @main-color;
  color: @white-color;
  padding: 33px 18px 40px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 11px;
  text-align: center;
}

.advantages__number {
  margin-bottom: 17px;
  display: block;
  text-align: center;
}

.advantages__list {
  padding: 24px 18px 28px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 49px;
  background-color: @gray-color;
}

.advantages__description {
  margin: 0;
  text-align: center;
}
