.benefits__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.benefits__list {
  list-style: none;
  margin: 0 auto 48px;
  padding: 22px 0 0;
  display: flex;
  flex-direction: column;
  gap: 66px;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 156px 33px 0;
  }
}

.benefits__item {
  padding: 0 18px 0 65px;

  &--housing {
    background-image: url("../img/icon-house-mobile.svg");
    background-repeat: no-repeat;
    background-position: 18px top;
  }

  &--food {
    background-image: url("../img/icon-food-mobile.svg");
    background-repeat: no-repeat;
    background-position: 18px top;
  }

  &--souvenirs {
    background-image: url("../img/icon-souvenirs-mobile.svg");
    background-repeat: no-repeat;
    background-position: 18px top;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
    text-align: center;
  }
}

.benefits__description {
  margin: 0;
}
