.benefits__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 23px 18px 46px 65px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.benefits__description {
  margin: 0;
}
