.introduction {
    background-image: url(../img/welcome.jpg);
    background-repeat: no-repeat;
    background-color: rgb(218, 232, 241);
    min-height: 299px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 90px;
}
