.logo {
  display: block;
  position: static;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 291px;
    padding: 0;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 507px;
    padding: 0;
  }
}
