.nav {
  font-weight: @weight-bold;
  position: absolute;
  top: 0;
  width: 100%;

  &--closed .nav__list {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--closed .nav__toggle {
    background-image: url("../img/icon-menu.svg");
    background-color: transparent;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--opened .nav__list {
    display: block;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--opened .nav__toggle {
    background-image: url("../img/icon-menu-closed.svg");
    display: block;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--nojs .nav__toggle {
    display: none;
  }

  &--nojs .nav__list {
    position: static;
  }

  &--nojs {
    position: relative;
  }
}

.nav__toggle {
  width: 23px;
  height: 22px;
  border: none;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1;
}

.nav__list {
  @media (min-width: @tablet-width) {
    display: flex;
    width: @tablet-width;
    min-height: 56px;
    text-align: center;

    .site-list__item:nth-child(3) {
      margin-left: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    .site-list__item:nth-child(3) {
      margin-left: 240px;
    }
  }
}

.nav--active .nav__list {
  display: block;
}

.nav--active .nav__toggle {
  background-image: url("../img/icon-menu-closed.svg");
  background-color: transparent;
}
