.offer {
  padding: 38px 18px 49px;
  text-align: center;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    padding: 61px 166px 58px;
  }
}

.offer__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.offer__description {
  margin-top: 0;
  margin-bottom: 32px;
}
