.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  padding: 17px 10px 12px;
  background-color: @main-color;
}

.site-list__link {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: @white-color;
  text-transform: uppercase;
  text-decoration: none;
}
